body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background-color: #001a23;
}

h1 {
  margin-top: 130px;
  margin-bottom: 0px;
  display: flex;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
  justify-content: center;
  font-size: 90px; /* Tamaño de letra base (por ejemplo, 16 píxeles) */
  animation: color 10s infinite;
}

@keyframes color {
  0% {
    color: wheat;
  }
  10% {
    color: #00e1ed;
  }
  20% {
    color: #00e1ed;
  }
  30% {
    color: #00feb1;
  }
  40% {
    color: #e1ff9c;
  }
  50% {
    color: #e1ff9c;
  }
  60% {
    color: #00e1ed;
  }
  70% {
    color: #00e1ed;
  }
  80% {
    color: #00feb1;
  }
  90% {
    color: #e1ff9c;
  }
  100% {
    color: wheat;
  }
}

.subtitulo {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0px;
  padding: 0px;
  animation: color 10s infinite;
}

.login {
  display: grid;
  place-items: center;
  margin-top: 40px;
  margin-bottom: 190px;
}

input {
  margin: 12px;
  color: white;
  width: 50vh;
  height: 30px;
  border-radius: 20px;
  border-color: #00feb1;
  background-color: transparent;
  text-align: center;
}
input:invalid {
  border: 2px solid red;
  animation: shake 0.2s 2;
}
@keyframes shake {
  25% {
    translate: 6px 0;
  }
  50% {
    translate: -6px 0;
  }
  75% {
    translate: 6px 0;
  }
}

.btn-enviar {
  width: 20vh;
  height: 4vh;
  margin-bottom: 180px;
  background-color: #e1ff9c;
  color: #001a23;
}

.btn-enviar:hover {
  background-color: #00feb1;
}

footer {
  background-color: #001a23;
  padding: 0px;
  text-align: center;
  border-color: #e1ff9c;
}

.logos-login {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.logos-login svg {
  height: 70px;
  width: 70px;
  margin-left: 17px;
}

.mensaje-final {
  animation: color 10s infinite;
}


/*.color1 {
  color: #001a23;
}
.color2 {
  color: #00456e;
}
.color3 {
  color: #00e1ed;
}
.color4 {
  color: #00feb1;
}
.color5 {
  color: #e1ff9c;
}
